<template>
    <div class="company" v-if="company" >
        <h1> {{company.name}} </h1>
        <a href="mailto:{{company.email}}"> {{company.email}} </a>
        <br>
        number of required cargo bays {{requiredCargo}}
        <br>
        <p>cargo boxes</p>
        <input type="text" v-model="boxes" > 
    </div>
</template>

<script>
    export default { 
        props:['data'],
        data() {
            return {
                boxes:0
            }
        }, 
        mounted () {
            if(!this.company) {
                this.$router.push({ name: 'Home'});
                return
            }
            this.boxes =''+this.company.boxes ;
        },
        methods: {
            update() {
                if(!this.data) { this.company = false; return }
                this.company = JSON.parse(this.data);
            }
        },
        watch: {
            company(newValue) { 
                this.boxes =newValue.boxes ;  
            }
        },
        computed: {
            company() {
                let data = this.data
                if(data){
                    data = JSON.parse(this.data) ;
                    return  data;
                }
                return false;
            },
            requiredCargo(){     
                let boxes = this.boxes?.length? this.boxes.split(',') : [0];
                if(boxes){
                    let cargo =  boxes.reduce( (accumulator, currentValue) =>+accumulator + +currentValue ) / 10 ;
                      return Math.ceil(cargo);
                }
                return  0;
            }
        }, 
    }
</script>

<style lang="scss">
.company{
    padding: 15px;
}
</style>