<template>
    <div class="home">
        <h1 style="text-align:center"> 
            Hello and welcome to spacex-cargo-planner
        </h1> 
    </div>
</template>
 

<style lang="scss">
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    h1,h2{
        margin-bottom: 20px;
    }
}
</style>