<template>
  <header class="header">
    <h1 class="header-h1"> Cargo planner </h1>
    <div class="header-search">
      <v-search :shipments="shipments" @type="$emit('searchType',$event)"/>
    </div>
    <div class="header-loadSave">
      <v-loadSave :shipments="shipments" @onLoad="$emit('onLoad',$event)" /> 
    </div>
  </header>
</template>

<script>
import Search from './search'
import LoadSave from './LoadSave'

export default {
  props: ['shipments'],
  components: {
    vSearch:Search,
    vLoadSave:LoadSave
  },
  methods: {
    onInput(newsearch){ 
      this.test = newsearch;
    }
  },
  
}
</script>

<style lang="scss">
 .header{
   display: flex;
   padding: 30px 15px;
   background-color: #ccc;
   align-items: center;
   &-h1{
     margin: 0 0 auto;
     margin-right: 15px;
     white-space: nowrap;
   }
   &-search{
     flex: 1 1 100%;
     margin: 0 15px;
   }
   &-loadSave{
     flex: 0 0 auto;
     margin-left: 15px;
   }
 }
</style>
