<template>
    <div class="load_save" > 
        <button @click="emitLoading()"> load </button>
        <button @click=onSave()> save </button>
    </div>
</template>

<script>
import shipmentsJson from '@/assets/shipments.json'
    export default { 
        props:['shipments'],
        methods: {
            emitLoading() {
                this.$emit('onLoad', shipmentsJson ); 
            },
            onSave(){
                window.localStorage.shipments = JSON.stringify( shipmentsJson );
            }
        },

    }
</script>

<style lang="scss">
.load_save{
    button{
        margin: 0 15px;
        &:first-child{
            margin-left: 0;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}

</style>