<template>
    <div class="search">
        <input 
        type="text"
        class="search-input" 
        @input="$emit('type',$event.target.value)"
        :disabled="isDisabled" :placeholder="isDisabled ? emptyMsg : msg">
    </div>
</template>

<script>
    export default {
        props:['shipments'],
        data() {
            return {
                disabledSearch:true,
                emptyMsg:'data not ready, please load data',
                msg:'all ready, start typing for search'
            }
        },
        mounted () {
            this.msg = 'some new message';
        },
        computed: {
            isDisabled () {
                return !this.shipments
            }
        }
    }
</script>

<style lang="scss">
.search{
    width: 100%;
    &-input{
        width: 100%; 
    }
}
</style>