<template>
    <div class="sideBar" >
      
        <ul v-if="!isdisabled"> 
            <li v-for="company in filteredList" :key="company.name" > 
                 <router-link  :to="{ name: 'company', params: { company: company.name , data: JSON.stringify(company) }}">
                 {{company.name}}
                 </router-link>
            </li> 
        </ul>
    </div>
</template>

<script>
    export default {
        props: ['shipments','search'],
        computed: {
            isdisabled(){
                return !this.shipments
            },
            filteredList() {
                if(!this.search) return this.shipments;
                return this.shipments.filter(company => {
                    return company.name.toLowerCase().includes(this.search.toLowerCase());
                })
            }
        },
      
    }
</script>g

<style lang="scss">
.sideBar{
    padding: 15px;
    ul{
        padding-left: 0;
    }
}
</style>