<template>
<div class="app">
  <div class="app-wrapper">
    <HeaderComponent :shipments="shipments" @onLoad=setshipments($event) @searchType="onSearchChange($event)" />  
    <div class="app-container">
      <div class="app-sideBar" v-if="shipments" >
        <v-sideBar :shipments="shipments" :search="searchCompany"  />
      </div>
      <div class="app-content">
        <router-view :shipments='shipments'></router-view>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import HeaderComponent from './components/header/HeaderComponent.vue';
import sideBar from './components/sideBar';
export default {
  name: 'App',
  data() {
    return {
      shipments: null,
      searchCompany:null,
    }
  },
  created () {
    this.shipments = window.localStorage.shipments ? JSON.parse(window.localStorage.shipments) : null;
  }, 
  methods: {
    setshipments(newshipments) { 
      this.shipments = newshipments ;
    },
    onSearchChange(search){
      this.searchCompany = search;
    }
  },
  components: {
    HeaderComponent,
    vSideBar:sideBar
  }
}
</script>

<style lang="scss">
body{
  padding: 0;
  margin: 0;
  
}
.app{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  &-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    
  }
  &-sideBar{
    flex: 0 0 300px;
    background-color: #ccc;

  }
  &-container{
    flex: 1 1 auto;
    min-width: 300px;
    display: flex;
  }
  &-content{
    flex: 1 1 auto;
    min-width: 300px;
  }
}
*{
  box-sizing: border-box;
}
</style>
